*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-bar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */

  &::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }
}

.scroll-container {
  display: flex;
  white-space: nowrap;
  position: absolute;
  left: 0%;
  top: 0%;
  height: inherit;
  width: inherit;
}

.primary {
  animation: primary 50s linear infinite;
}
.secondary {
  animation: secondary 50s linear infinite;
}

@keyframes primary {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes secondary {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* carousel */
.carousel {
  width: 100%;
  margin: 0 auto;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
  justify-content: space-between;
}

.slide {
  flex: 0 0 100%;
  display: flex;
}

/* slide-in/slide-down */
.slide-in {
  animation: slideIn 0.5s linear forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.slide-down {
  animation: slideDown 0.5s linear forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.pulse {
  transition: 0.25s;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #8c8c8e;
  }
}

.pulse {
  --color: #8c8c8e;
  --hover: #8c8c8e;
}
